@import url("https://fonts.googleapis.com/css2?family=Bree+Serif&family=Caveat:wght@400;700&family=Lobster&family=Monoton&family=Open+Sans:ital,wght@0,400;0,700;1,400;1,700&family=Playfair+Display+SC:ital,wght@0,400;0,700;1,700&family=Playfair+Display:ital,wght@0,400;0,700;1,700&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&family=Source+Sans+Pro:ital,wght@0,400;0,700;1,700&family=Work+Sans:ital,wght@0,400;0,700;1,700&display=swap");

.products-section-heading {
    color: #1f2933;
    font-family: "Roboto";
    font-weight: 700;
    font-size: 36px;
}

.product-card {
    width: 100%;
    height: 600px;
}

.vr-headset-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-img.png");
    background-size: cover;
}

.product-card-title {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 36px;
    font-weight: 500;
}

.product-card-price {
    color: #ffffff;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
}

.buy-now-button {
    color: #ffffff;
    background-color: transparent;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 120px;
    height: 40px;
    border-style: solid;
    border-width: 2px;
    border-color: #ffffff;
    border-radius: 4px;
}

.touch-controller-bg-container {
    background-image: url("https://d1tgh8fmlzexmh.cloudfront.net/ccbp-responsive-website/vr-products-headset-with-controllers-img.png");
    background-size: cover;
}

.view-all-button {
    color: #ffffff;
    background-color: #1754a1;
    font-family: "Roboto";
    font-size: 18px;
    font-weight: 500;
    width: 173px;
    height: 56px;
    border-width: 0;
    border-radius: 4px;
}